*,
*::before,
*::after {
    margin-left: auto;
    margin-right: auto;
}

body,
html {
    margin: 0.0000001em;
    font-family: "Arial Black", sans-serif;
    background: cornsilk;
}

img {
    max-width: 100%;
}

.article {
    max-width: 680px;
    padding: 24px;
    text-align: left;
    font-family: sans-serif;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__heading--verified {
    margin: 0 0 1.5rem 0;
    color: palevioletred
}

.figure__caption {
    margin: 8px 0 0;
    font-style: italic;
    text-align: center;
}