:root {
	--font-family-sans-serif: sans-serif;
	--font-family-serif: serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:focus {
  outline: 2px solid black;
}

a:focus:not(:focus-visible) {
  outline: none;
}

a:focus-visible {
  outline: 2px solid black;
}

body,
html {
  font-family: "Arial Black", var(--font-family-sans-serif);
  background: cornsilk;

}

img {
  width: 100%;
  aspect-ratio: auto;
}

.article {
  max-width: 680px;
  padding: 1.5rem;
  font-family: var(--font-family-sans-serif);
  margin: 0 auto;
}

.article__lead {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-family: var(--font-family-serif);
  margin: 1rem 0;
}

.article__heading--verified {
  margin: 0 0 1.5rem 0;
  color: palevioletred;
}

.figure__image {
  margin: 1rem 0 0.5rem;
}

.figure__caption {
  font-style: italic;
  text-align: center;
}
