/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: "Arial", sans-serif;
	font-size: 1.3rem;
	text-align: center;
	line-height: 1.3;
	color: #222C2A;
}

img {
	max-width: 100%;
}

p {
	margin: 2rem auto;
	font-size: 1rem;
}

h1,
h3 {
	margin-top: 0;
	font-weight: 900;
	line-height: 1.2;
}

.intro {
	text-align: center;
	padding: 2.5rem;
}

.products {
	min-height: 100vh;
	margin: 0 5rem;

	display: flex;
	justify-content: center;
}

.product__card {
	width: 24rem;
	height: 30rem;
	box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
}

.product__desc {
	display: flex;
	flex-direction: column;
	text-align: start;
	align-items: center;
	padding: 1.5rem;

	justify-content: space-between;
}

.product__button {
	align-self: stretch;
	text-align: center;
	padding: 1rem;
	border: 3px solid #42940F;
	border-radius: 1rem;
}

.product__button .button {
	text-decoration: none;
	color: #42940F;
	font-weight: 900;
	line-height: 1.2;
}

.product__card+.product__card {
	margin-left: 1.25rem;
}



@media (max-width: 600px) {
	.products {
		display: block;
	}
}